<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h2> 질문의 상세 페이지가 표시되는 곳</h2>
<div> 제목, 내용을 표시함 </div>

<link rel="stylesheet" type="text/css" th:href="@{/style.css}">

<h1 th:text="${question.subject}"></h1>
<div th:text="${question.content}"></div>
<div th:text="${question.createDate}"></div>
<div th:text="${question.id}"></div>

<!-- 
	2025.11.14 
	2-12 답변기능 만들기 지원
 -->
 
 <h5 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
<div>
    <ul>
        <li th:each="answer : ${question.answerList}" th:text="${answer.content}"></li>
    </ul>
</div>
 
 
<form th:action="@{|/answer/create/${question.id}|}" method="post">
	<textarea id="content" name="content" rows="15" ></textarea>
	<input type="submit" value="답변등록">
</form>



</body>
</html>